<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">code dossier</th>
          <th scope="col">nom</th>
          <th scope="col">description</th>
          <th scope="col">numero classeur </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dossierlist of dossier">
          <th scope="row">{{dossierlist.dossier_id}}</th>
          <td>{{dossierlist.code_dossier}}</td>
          <td>{{dossierlist.nom}}</td>
          <td>{{dossierlist.description}}</td>
          <td>{{dossierlist.classeur_id}}</td>
          <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/modifierdossier/'+dossierlist.dossier_id]"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-outline-danger" (click)="deletTodo(dossierlist.dossier_id)"><i class="bi bi-trash3"></i></button></td>
        </tr>
                       
      </tbody>
    </table>
    
  </div>
