<footer class="bg-black text-white p-3 mt-5">
    <div class="row">
     <div class="col-3 mt-5" >
    <img
    src="../../../assets/images/logo.png"
    alt="Avatar Logo"
    style="width: 100px"
    class="rounded-pill"
     />
     </div>
     <div class="col-3 d-flex flex-column mt-5">
      <i class="fa-sharp fa-solid fa-box-archive"></i>
       <h5>Archivage physique</h5>
    </div>
    <div class="col-3 d-flex flex-column mt-5">
      <i class="fa-solid fa-folder-open"></i>
       <h5>Folder</h5>
    </div>
     <div class="col-3">
       <div class="row">
        <div class="col-8 mt-5">
          <input type="text" name="" id="" class="form-control">
        </div>
        <div class="col-4 mt-5">
          <input type="submit" value="Enregistrer" class="btn btn-warning">
        </div>
       </div>
     </div>
      
    </div>
  </footer>
