body {font-family: Arial, Helvetica, sans-serif; background-color: #ffe4e6;}
form {border: 0px solid #f1f1f1;}

input[type=text], input[type=password], input[type=number]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 100px;
 
}

.btn{
   
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  width: 70%;
  font-size: 16px; 
}

.btn:hover {
  opacity: 0.8;
  background-color: #101010;
  color: white;
 
}

/* .btn{
  width: auto;
  padding: 14px 20px;
  background-color: #f44336;
  border: none;
  cursor: pointer;
  margin: 8px 0;
  width: 70%;
  border-radius: 10px;
  font-size: 16px; 
}
.btn:hover {
    opacity: 0.8;
    background-color:rgb(24, 24, 23);
    color: white;
   
  } */
.container{
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
 
h2{
    text-align: center;

     
}
 .btn1{
    display:inline-flex;
    margin-right: 2px;
    padding: 2rem;
 }
hr{
  border-color: #101010;
  border-radius: 2px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}