<h2>ESPACE GESTION PAYS</h2>
<hr>

<form action="traitement.php" method="post">
    
    <div class="container" >
        <label for="uname"><h3><b>nom</b></h3></label>
        <input type="text" placeholder="Veillez enter le code de dossier" name="nom" [(ngModel)]="pays.nom"  required autofocus>
        <label for="uname"><h3><b>Localisation </b></h3></label>
        <input type="text" placeholder="Veillez enter le code de dossier" name="localisation" [(ngModel)]="pays.localisation" required>
         <div class="btn1">
         <button class="btn btn-info btn-lg mx-2" type="submit"  (click)="onClick()"  name="submit">Enregistrer</button>
         <input class="btn btn-warning btn-lg mx-2" type="reset" value="Annuler">
        </div> 
    </div>      
</form>
