<div class="row mt-5">
    <h2 class="text-center mb-3">Nos Services</h2>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/images/armoire1.jpg" class="card-img-top img-thumbnail" alt="..." style="height:300px">
        <div class="card-body">
          <p class="card-text">Dans l’entreprise, la détermination des habilitations accordées permet de contrôler l’accès aux documents et donc de limiter les risques de mauvaise utilisation ou d’erreur.</p>
          <a href="#" class="btn btn-primary">Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/rangement.jpg" class="card-img-top img-thumbnail" alt="..."  style="height:300px">
        <div class="card-body">
          <p class="card-text">Dans le domaine de l’archivage, l’habilitation constitue un droit accordé à une personne d’accéder à un document, pour effectuer une action précise </p>
          <a href="#" class="btn btn-success">Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="../../../assets/images/archi1.jpg" class="card-img-top img-thumbnail" alt="..."  style="height:300px">
        <div class="card-body">
          <p class="card-text">Si vous avez des questions, nous sommes là pour y répondre et vous accompagner : nos archivistes sont à votre disposition, pour repondre à tous vos besoins</p>
          <a href="#" class="btn btn-danger">Info</a>
        </div>
      </div>
    </div>
 <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/images/Archive2.jpg" class="card-img-top img-thumbnail" alt="..."  style="height:300px">
        <div class="card-body">
          <p class="card-text">Archive Aeronautique est un prestataire certifié pour la numérisation fidèle des documents. Nos équipes vous accompagnent dans la mise en place de vos projets de numérisation.</p>
          <a href="#" class="btn btn-dark">Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/images/armoire3.webp" class="card-img-top img-thumbnail" alt="..."  style="height:300px">
        <div class="card-body">
          <p class="card-text">Ranger les archives de manière méthodique et réfléchie n’a pas toujours été une règle. Il a fallu plusieurs siècles avant que les fonds d’archives voient le jour. Retour sur l’histoire de ce terme d’archivistique.</p>
          <a href="#" class="btn btn-info">Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="../../../assets/images/armoire7.jpg" class="card-img-top img-thumbnail" alt="..."  style="height:300px">
        <div class="card-body">
          <p class="card-text">L’habilitation trouve ses origines au XIVe siècle et a pendant longtemps eu un sens juridique,
            qui se généralisera ensuite à d’autres domaines, comme celui de l’archivage.</p>
          <a href="#" class="btn btn-warning">Info</a>
        </div>
      </div>
    </div>
  </div>