<div class="container-fliud">
    <app-navbar></app-navbar>
  </div>
<br>
<br>
<br>
<br> 
<form action="#" method="post">
  <div class="container">
    <label for="psw"><h4><b> Date traitement </b></h4> </label>
    <input type="text" placeholder="choisissez le numero du compagnie"  [(ngModel)]="traitement.date_traitement"  name="date_traitement" required>
    <label for="uname"><h4><b>Numero dossier</b></h4></label>
    <input type="text" placeholder="Veillez enter la description"  [(ngModel)]="traitement.dossier_id"  name="dossier_id" required onfocus>
    <label for="uname"><h4><b>Numero utilisateur</b></h4></label>
    <input type="text" placeholder="Veillez enter la description"   [(ngModel)]="traitement.utilisateur_id" name="utilisateur_id" required>
    <div class="btn1">
     <button class="btn btn-info btn-lg mx-2" type="submit"  (click)="onClick()" >Enregistrer</button>
     <input class="btn btn-warning btn-lg mx-2" type="reset" value="Annuler">
   </div> 
  </div>
</form>
<div class="container-fliud">
    <app-footer></app-footer>
</div>

