<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">code armoire</th>
          <th scope="col">description</th>
          <th scope="col">numero compagnie </th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let armoirelist of armoire">
          <th scope="row">{{armoirelist.armoire_id}}</th>
          <td>{{armoirelist.code_armoire}}</td>
          <td>{{armoirelist.description}}</td>
          <td>{{armoirelist.compagnie_id}}</td>
          <td><button type="button" class="btn btn-outline-primary" [routerLink]="['/modifierarmoire/'+armoirelist.armoire_id]"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-outline-danger" (click)="deleteArmoire(armoirelist.armoire_id)"><i class="bi bi-trash"></i></button></td>
        </tr>
                       
      </tbody>
    </table>
    
  </div>

