<div class="container mt-5">
    <h2 class="text-center mb-5">Presentation</h2>

<div class="row">
  <!-- <div class="col-md-4 col-sm-12 offset-md-8"> offset-md-8: laisse 8 a gauche-->
  <div class="col-md-4 col-sm-12">
    <img src="../../../assets/images/group.svg" class="rounded" alt="Cinque Terre" width="100%"> 
  </div>
  
  <div class="col-md-4 col-sm-12">
    <p>
      En tant que leader mondial, Archives Aeronautiques étend ses services aux pays du monde entier et s’engage à s’impliquer dans le développement des communautés locales. Nous agissons en tant qu’employeur responsable, contribuant à diverses causes environnementales. Découvrez nos dernières actualités ci-dessous.
       
    </p>
  </div>
  <div class="col-md-4 col-sm-12">
    <img src="../../../assets/images/electro.jpg" class="rounded" alt="Cinque Terre" width="100%"> 
  </div>